* {
  box-sizing: border-box;
}

* p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.content {
  text-align: center;
  font-size: 30px;
}

.titlesmall {
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  text-align: center;
}

.pagination a.active {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.pagination a:hover:not(.active) {
  background-color: grey;
}

.title2 {
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.tcent {
  text-align: center;
}

.tpadd p {
  padding: 10px 0px;
}

.bord {
  border-top: 0.5px solid #f1eeee;
  border-bottom: 0.5px solid #f1eeee;
}

.tag a {
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  text-align: center;
  background-color: #000000;
}

.tag a:hover:not(.active) {
  background-color: grey;
}

.cent {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.rowpad {
  padding: 20px 100px;
}

.col {
  background-color: black !important;
}

.imgmax {
  width: 100%;
  max-width: 100%;
}

.rowpadsm {
  padding: 20px 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: -3px 0 5px 0 black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

